<div class="container" id="index-container">
 <h1>{{title}}</h1>
 <p>Welcome to {{title}}</p>
 {{#if user}}
   <a href="/programRoom" class="btn btn-warning m-3">Create New Pair Programming Room</a>
 {{/if}}
 </div>