<div class="container signin-container">
    <form class="signin p-2" method="post">
        <h2 class="signin-h2 p-2">Sign In</h2>
        <br/>
        <div class="form-group p-2">
            <label for="email">Email:</label>
            <br/>
            <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email" require="">
        </div>
        <div class="form-group p-2">
            <label for="password">Password:</label>
            <br/>
            <input type="password" class="form-control" name="password" id="password" placeholder="Password" require="">
        </div>
        <br/>
        <hr>
        <div class="text-center">
            <button type="submit" class="btn btn-lg btn-warning">Sign In</button>
        </div>
    </form>
</div>